h1 {
  width: 246px;
  height: 22px;
  left: 597px;
  top: 230px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #30313A;
}

h4{
  justify-content: center;
  text-align: center;
  color: #686974;
  width: 228px;
  height: 22px;
  left: 601px;
  top: 272px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.button-create-account {
  width: 100%;
  height: 50px;
  align-self: center;
  background: linear-gradient(270deg, #1EA39B 0%, #38EF7D 100%);
}

.mat-form-field {
  width: 50%;
  line-height: 24px;
  color: #30313A;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-inputs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 40px;
}

.third-row-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
}

.address-line-field {
  width: 80%;
}

.suite-field {
  width: 20%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
}
